# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular programming languages for Data Science.
- Explain how to convert time units (e.g., minutes to hours).
- Understand the basics of data analysis and machine learning.
- Explore tools and libraries used in data Science (e.g., Pandas, NumPy, Matplotlib).

Some of the popular languages that data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Tensroflow
5. PySpark
6. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zepellin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200
hours= minutes/ 60
print(hours)

3.3333333333333335

## Author
María Eugenia Lechuga Sánchez